<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DLISH</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TakeAway.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="main-layout">
    <header class="header shadow-sm">
        <div class="container header-container">
            <div class="brand">
                <a class="logo" asp-controller="@(ViewData["userType"]?.ToString() == "Restaurateur" ? "Restaurant" : "Home")" asp-action="Index"><img src="~/img/LogoWithBrand.png" height="70" width="70"></a>
            </div>
            <div class="user-actions d-flex align-items-center gap-md flex-wrap">
                @if (ViewData["userId"] == null)
                {
                    <a class="btn btn-signin" asp-controller="Account" asp-action="SignIn">Sign In</a>
                    <a class="btn btn-signup" asp-controller="Account" asp-action="SignUp">Sign Up</a>
                }
                else
                {
                    if (ViewData["userType"]?.ToString() == "Client")
                    {
                        <a class="btn btn-gold me-2" asp-controller="Basket" asp-action="Index">
                            <i class="bi bi-basket-fill me-1"></i>My basket
                        </a>
                    }
                    <a class="btn btn-outline-danger" asp-controller="Account" asp-action="Logout">Sign Out</a>
                }
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3 mt-4">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-container">
        <div class="footer">
            <div class="footer-logo">DLISH</div>
            <p>Groffier Yanis & Khloufi Ayoub</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>